---
layout: archive
title: "Project"
permalink: /project/
author_profile: true
---

{% include base_path %}


{% for post in site.project %}
  <div class="archive__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {{ post.title }}
      </h2>
      
      {% if post.date %}
        <p class="page__date">
          <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> 
          <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
        </p>
      {% endif %}

      <div class="archive__item-content">
        {{ post.content }}
      </div>
    </article>
  </div>
  <hr style="margin: 2em 0;">
{% endfor %}

