---
layout: archive
title: "Project"
permalink: /project/
author_profile: true
---

{% include base_path %}


{% for post in site.project %}
  <div class="archive__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        {{ post.title }}
      </h2>

      <div class="archive__item-content">
        {{ post.content }}
      </div>
    </article>
  </div>
  <hr style="margin: 2em 0;">
{% endfor %}

